{% extends 'main.html' %} {% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>

<div class="home-container">
  <div>
    <h3>Topics</h3>
    <hr>
    <div>
      <a href="{% url 'home' %}">All</a>
  </div>
    {% for obj in topic%}
    <div>
        <a href="{% url 'home' %}?q={{obj.name}}">{{obj.name}}</a>
    </div>
    {% endfor %}
  </div>

  <div>
    <h3>{{room_count}} Rooms Available</h3>
    <hr>
    {% for x in room %} 
    <h3>@{{x.host}}</h3>
    <a href="{% url 'update-room' x.id %}">Edit</a>
    <a href="{% url 'delete-room' x.id %}">Delete</a>
    <hr />
    {{x.topic}}
    <hr />
    {{x.name}}
    <hr />
    {{x.description}}
    <hr />
    {{x.created}}
    <hr />
    {{x.updated}}
    <hr />
    <br />
    {% endfor%}
  </div>
</div>
{% endblock %}
